VITE_SKORE_API_URL=https://sua-api.skore.com
VITE_SKORE_API_TOKEN=cole-seu-token-aqui
VITE_SKORE_USERS_URL=https://knowledge.skore.io/workspace/v2/users
VITE_SKORE_TEAMS_URL=https://user.skore.ai/v1/teams
VITE_COLLABORATORS_API_URL=https://meu-backend-2p74.onrender.com
